# # Empty .gitignore file
# # While contrib modules should never be committed from this repository, it is up to the Foundation maintainers to leave these out of the # Foundation repository
# # Do not ignore the contrib folder here, since the sub repositories (e.g. Cinema, Concert, etc.) will need to version the contrib directory of # Foundation, and adding a .gitignore file might conflict
#
# # Add to .git/info/exclude to ignore only *locally* (tip from http://stackoverflow.com/questions/1753070/git-ignore-files-only-locally)
#
# # Ignore contrib libraries, they should be built using drush make #
# # Note: we need to mention libraries specifically, since not all  #
# # libraries are built using drush make                            #
# ###################################################################
# libraries
# themes/zen
#
# # Ignore contrib modules, they should be built using drush make #
# #################################################################
# modules/contrib
# modules/drush
# /nbproject/private/
#
#  Ignore Phing files #
# #####################
#
# build.properties
